.jumbotron {
  background-image: url("../images/sourcing-patiodrywide.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
  min-height: 400px;
}
.coffee-details-div {
  margin-top: 40px;
  color: white;
}
#coffee-title {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.coffee-ptag {
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.75em;
}
