body {
  font-family: Montserrat;
  background-color: rgb(26, 26, 26);
}
.navbar {
  margin-bottom: 0;
}
#navbar {
  background-color: black;
  font-size: small;
  letter-spacing: 0.2em;
}
#main-container-row {
  margin-top: 25px;
}
#main-container {
  border: 3px solid #edcd92;
  padding: 50px;
  overflow: hidden;
}
.logo-div {
  margin-bottom: 75px;
}
h1 {
  color: white;
  font-size: 5rem;
  font-family: Miriam Libre;
  text-align: center;
}
h3 {
  color: #edcd92;
  text-align: center;
  font-family: Raleway;
  letter-spacing: 0.5em;
  font-weight: 700;
}
h5 {
  width: 100%;
  text-align: center;
}
h6 {
  font-weight: 700 !important;
}

#home {
  background-image: url(../images/identityhero.jpeg);
  background-repeat: no-repeat;
  display: cover;
  /* background-attachment: fixed; */
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#banner {
  color: white;
}
#hero-title {
  margin-bottom: 25px;
  font-family: Miriam Libre;
  font-size: 7.5rem;
  text-align: center;
  letter-spacing: 0.2em;
}

#hero-header {
  margin-bottom: 50px;
}
#hero-subscript {
  font-family: Raleway;
  font-weight: 700 !important;
  font-size: 3em;
  padding: 0px;
  letter-spacing: 0.5em;
}
#hero-text {
  margin-bottom: 50px;
}
.text-white {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.hero-info {
  font-size: 0.8em;
  color: #edcd92;
  line-height: 0.8em;
}
.page-footer {
  color: #edcd92;
  font-size: 14px;
}
#copyright-link {
  color: #edcd92;
}
