body {
  font-family: Montserrat;
  background-color: rgb(26, 26, 26);
}
.navbar {
  margin-bottom: 0;
}
#navbar {
  background-color: black;
  font-size: small;
  letter-spacing: 0.2em;
}
#main-container-row {
  margin-top: 25px;
}
#main-container {
  border: 3px solid #edcd92;
  padding: 50px;
  overflow: hidden;
}
.logo-div {
  margin-bottom: 75px;
}
h1 {
  color: white;
  font-size: 5rem;
  font-family: Miriam Libre;
  text-align: center;
}
h3 {
  color: #edcd92;
  text-align: center;
  font-family: Raleway;
  letter-spacing: 0.5em;
  font-weight: 700;
}
h5 {
  width: 100%;
  text-align: center;
}
h6 {
  font-weight: 700 !important;
}

#banner {
  color: white;
}
.page-footer {
  color: #edcd92;
  font-size: 14px;
}
#copyright-link {
  color: #edcd92;
}
